<div class="wrapper">    
  <p ><i bi bi-back-arrow></i>Back</p>       
  <h2>Fund Wallet</h2>
  <div class="content">
    <form [formGroup]="addFundsForm">
      <mat-form-field class="input-box">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount"/>
      </mat-form-field>
    </form>   
    <button
      mat-raised-button
      [class.spinner]="loadingBtn"
      (click)="fundWallet()"
      [disabled]="loadingBtn"
    >
      Add Funds
    </button>

  </div>
</div>
