<section id="about" class="about-section pt-150">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div class="about-img wow fadeInUp" data-wow-delay=".5s">
  <img src="assets/img/about/about-img.svg" alt="" />
  </div>
  </div>
  <div class="col-lg-6">
  <div class="about-content">
  <div class="section-title">
  <span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
  <h1 class="wow fadeInUp" data-wow-delay=".4s">Fast Delivery and Customer Satisfaction</h1>
  <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
  <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
  <h5>Rating 4.8</h5>
  <div class="rating">
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  </div>
  </div>
  <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
  <div class="single-counter">
  <h3 id="secondo1" class="countup" >1M</h3>
  <h5>Download</h5>
  </div>
  <div class="single-counter position-relative">
  <h3 id="secondo2" class="countup">234k </h3>
  <h5>Happy User</h5>
  </div>
  <div class="single-counter">
  <h3 id="secondo3" class="countup" >34k </h3>
  <h5>Reviews</h5>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section id="how" class="delivery-section pt-150">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-5">
  <div class="delivery-content">
  <div class="section-title">
  <span class="wow fadeInUp" data-wow-delay=".2s">Fast Delivery</span>
  <h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">Get Refund for every late delivery</h1>
  <p class="mb-35 wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore hdht dolore magna aliquyam erat, sed diam voluptua.</p>
  <a href="javscript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".8s">Get started</a>
  </div>
  </div>
  </div>
  <div class="col-lg-7 order-first order-lg-last">
  <div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
  <img src="assets/img/delivery/delivery-img.svg" alt="" />
  </div>
  </div>
  </div>
  </div>
  </section>
  <section id="received" class="about-section received-section pt-150">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6">
  <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
  <img src="assets/img/received/received-img.svg" alt="" />
  </div>
  </div>
  <div class="col-lg-6">
  <div class="about-content received-content">
  <div class="section-title">
  <span class="wow fadeInUp" data-wow-delay=".2s">Seamless Delivery</span>
  <h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">Delivery to Your Doorstep</h1>
  <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
