<div class="login-wrapper">
  <div class="form-wrapper">
      <img src="assets/img/radda.png" alt="Logo" (click)="routeHome()">          
      <h2>Sign In</h2>
      <div class="form-control">
        <p>Phone number</p>
        <input type="text"  #phone/>

        <p>Password</p>
        <input type="text" #password/>
      </div>

      <p class="options" (click)="signUP()">
        Become a Partner
        <span class="link">
          Sign up
        </span>
      </p>
      <button (click)="login(phone.value, password.value)" >
        <div class="spinner" *ngIf="loading"></div>
        Login
      </button>
    </div>

</div> 
