<div class="container">
    
  <div class="loginwrapper">
    <img src="assets/img/radda.png" alt="Logo" (click)="routeHome()">          
    <form [formGroup]="loginForm">
      <h4>Sign In</h4>
      
      <mat-form-field
        appearance="outline"
        style="display: block; width: 350px"
      >
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phone"/>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="display: block; width: 350px"
      >
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <div class="signup-option" (click)="signUP()">
        <span> Don’t have an account? </span>  <span style="font-weight: 600;padding-left: 5px; cursor: pointer;"> Sign up</span>
      </div>

      <div>
        <button
          mat-raised-button
          [class.spinner]="loadingBtn"
          (click)="login()"
          [disabled]="loadingBtn"
          style="background: #c257f5;margin-top: 10px; border-radius: 8px; width: 100%"
        >
          Login
        </button>
      </div>
    </form>


    
  </div>
</div>
