

.container{

  background-color: #ffffff;
  border-radius: 20px;
  width: 800px;
  min-height: 600px;
  height: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  box-shadow: 0 2px 20px 12px rgb(0 0 0 / 20%);
  position: relative;

}
.headertext{
  color: #000;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

.divClass{
  text-align: center;
  line-height: 1.5;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.flex-btw {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}
.flex{

  display: flex;
  justify-content: center;
}

.location{
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
  flex-wrap: wrap;
  width: 500px;

}
.image-holder{
  width: 150px;
  height: 150px;
  background: #FAF8F8;
  border-radius: 10px;

  border-style: groove;
  border-color: revert;
  display: flex;
  margin-top: 30px;


}


.summary{
border: 2px solid;
height: 385px;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;

}

.timerDiv{


   border-radius: 10px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10px;

   margin-left: 10px;
   margin-right: 10px;
}
.log{
width: 150px;
}
 input{
width: 100%;
}

.flex-centerflex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.checklist{
  width: 600px;
  border: 1px solid;
  border-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.paymentchoice{
  height: 40px;
    width: 400px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    justify-content: end;
    display: flex;
    padding: 10px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.form1{

}

@media only screen and (max-width: 600px) {
  .container {
    width: 0px;
    min-width: 90vw;
    min-height: 60vh;
    margin-top: 50px;
  }
  /* .form1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
  } */
}
