
<div class="registerwrapper">
  <img src="assets/img/radda.png" alt="Logo" (click)="routeHome()">          
  <div class="form-control">
    <h2>Sign Up</h2>
  
    <form [formGroup]="registerForm">
      <div class="form-field">
        <input type="text" placeholder="Phone number" formControlName="userName"/>
      </div>
      <div class="form-field">
        <input type="email" placeholder="Email Address" formControlName="email"/>
      </div>
      <div class="form-field">
        <input type="text" placeholder="Phone Number" formControlName="phone"/>
      </div>
      <div class="form-field">
        <input type="password"  placeholder="Password" formControlName="password">
      </div>
      <div class="form-field">
        <input type="password" placeholder="Confirm Password" formControlName="password2">
      </div>

      <div class="form-field">
        <input type="text" placeholder="Business Name" formControlName="businessName">
      </div>
      <div class="form-field">
        <input matInput type="text" placeholder="Business Location" formControlName="businessLocation">
      </div>
    </form>
  </div>
  <div class="options" >
    Have an account?  <span class="link"> Log In</span>
  </div>    
  <button (click)="registerUser()">
    <div class="spinner" *ngIf="loading"></div>
    Sign Up
  </button>
</div>
