
<div class="wrapper"> 
  <h2>Check List</h2>
  <form>
    <table class="check-table">
      <tr class="check-row">
        <td>
            <input class="input-box" matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
        </td>
        <td class="check-value">
            <input class="input-box" placeholder="Value eg. black" (change)="onCheckValueChange($event)">
        </td>
      </tr>
      
    </table>
  </form>
  <button class="checks-btn" mat-button (click)="addCheck()"> Add Feature</button>
</div>
