
<div class="wrapper"> 
  <h2>Check List</h2>
  <form>
    <table class="check-table">
      <tr class="check-row">
        <td>
          <mat-form-field class="input-box">
            <input matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
          </mat-form-field></td>
        <td class="check-value">
          <mat-form-field class="input-box">
            <input matInput placeholder="Value eg. black" (change)="onCheckValueChange($event)">
          </mat-form-field></td>
      </tr>
      <tr class="check-row">
        <td>
          <mat-form-field class="input-box">
            <input matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
          </mat-form-field></td>
        <td class="check-value">
          <mat-form-field class="input-box">
            <input matInput placeholder="Value eg. black" (change)="onCheckValueChange($event)">
          </mat-form-field></td>
      </tr>
      <tr class="check-row">
        <td>
          <mat-form-field class="input-box">
            <input matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
          </mat-form-field></td>
        <td class="check-value">
          <mat-form-field class="input-box">
            <input matInput placeholder="Value eg. black" (change)="onCheckValueChange($event)">
          </mat-form-field></td>
      </tr>
      <tr class="check-row">
        <td>
          <mat-form-field class="input-box">
            <input matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
          </mat-form-field></td>
        <td class="check-value">
          <mat-form-field class="input-box">
            <input matInput placeholder="Value eg. black" (change)="onCheckValueChange($event)">
          </mat-form-field></td>
      </tr>
      <tr class="check-row">
        <td>
          <mat-form-field class="input-box">
            <input matInput placeholder="Item Feature ex. color" (change)="onFeatureChange($event)">
          </mat-form-field></td>
        <td class="check-value">
          <mat-form-field class="input-box">
            <input matInput placeholder="Value eg. black" (change)="onCheckValueChange($event)">
          </mat-form-field></td>
      </tr>
    </table>
  </form>
  <button class="checks-btn" mat-button (click)="addCheck()"><mat-icon>add</mat-icon> Add Feature</button>
</div>
