<div className="App">
  <!-- <div class="preloader">
   <div class="loader">
   <div class="ytp-spinner">
   <div class="ytp-spinner-container">
   <div class="ytp-spinner-rotator">
   <div class="ytp-spinner-left">
   <div class="ytp-spinner-circle"></div>
   </div>
   <div class="ytp-spinner-right">
   <div class="ytp-spinner-circle"></div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div> -->

   <app-header></app-header>

<app-main></app-main>

   <app-services> </app-services>

   <app-about-us></app-about-us>

   <app-testimonies></app-testimonies>

   <app-footer></app-footer>
   <a href="#" class="scroll-top btn-hover">
   <i class="lni lni-chevron-up"></i>
   </a>
