<div class ="detail-box">
  <h2>Add Delivery Order</h2>
  <!--delivery details-->
    <div class="details">
      <div class="order-section">
        <h4 >Item Details</h4>
        <div class="item-details">
          <form [formGroup]="itemDetailsForm">
            <div>
              <input  type="text" class="input-box" placeholder="Enter item name" formControlName="title" required>  
            </div>
  
            <div>
              <input  type="number"  class="input-box" placeholder="Quantity" formControlName="quantity" required>
            </div>
              
            <div class="image-info">
              <img [src]="imageFile" *ngIf="isFile" />
              Add Image
              <input type="file" (change)="onImageChange($event)" #files style="display: none"/>
            </div>            

          </form>
        </div>
        
        <!--routes-->
        <h4>Pickup and Delivery Addresses</h4>        
          <div class="location-details">            
          <form class="item-form" [formGroup]="routingForm">
            <input type="text"  
              ngx-google-places-autocomplete
              #pickup
              (onAddressChange)="formatPickupAddress($event)"
              placeholder="Enter pickup" formControlName="pickupAddress"  required 
            >
          
            <br/>         
          
            <input type="text" 
              ngx-google-places-autocomplete
              #dropoff
              (onAddressChange)="formatDeliveryAddress($event)"
              placeholder="Enter delivery address here" formControlName="deliveryAddress"  required 
            >    
          </form>
            
          </div>

        <!--delivery contacts-->
        <div class="contact-section">
          <form class="item-form" [formGroup]="contactForm">
            <span class="text-muted">SenderPhone</span>
            <input type="tel" class="input-box" placeholder="Enter sender phone" formControlName="senderPhone" required>
      
            <span class="text-muted">Receiver Phone</span>            
            <input type="tel" class="input-box" placeholder="Enter receiver phone" formControlName="receiverPhone" required>
          
          </form>
        </div>
          
          <button class="location-btn" (click)="addItem()"><i class="bi bi-plus"></i>Add Item</button>
      </div>
</div>
