<section id="services" class="service-section pt-150">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-xl-6 col-lg-8">
  <div class="section-title text-center mb-70">
  <span class="wow fadeInUp" data-wow-delay=".2s">Get a refund</span>
  <h1 class="wow fadeInUp" data-wow-delay=".4s">for every minute of late delivery</h1>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".2s">
  <div class="icon">
  <img src="assets/img/service/service-icon-1.svg" alt="" />
  </div>
  <div class="content">
  <h3>Food</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".4s">
  <div class="icon">
  <img src="assets/img/service/service-icon-2.svg" alt="" />
  </div>
  <div class="content">
  <h3>Grocery</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".6s">
  <div class="icon">
  <img src="assets/img/service/service-icon-3.svg" alt="" />
  </div>
  <div class="content">
  <h3>Furniture</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".2s">
  <div class="icon">
  <img src="assets/img/service/service-icon-4.svg" alt="" />
  </div>
  <div class="content">
  <h3>Medicine</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".4s">
  <div class="icon">
  <img src="assets/img/service/service-icon-5.svg" alt="" />
  </div>
  <div class="content">
  <h3>Electronics</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-service wow fadeInUp" data-wow-delay=".6s">
  <div class="icon">
  <img src="assets/img/service/service-icon-6.svg" alt="" />
  </div>
  <div class="content">
  <h3>Clothes</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
