
<div class="wrapper">
  <h4>Delivery Details</h4>   
  <form class="item-form" [formGroup]="routingForm">
    <mat-form-field class="input-box">
      <input type="text" matInput 
        ngx-google-places-autocomplete
        #pickup="ngx-places"
        (onAddressChange)="formatPickupAddress($event)"
        formControlName="pickupAddress"  required 
      >
    </mat-form-field>   
    <mat-form-field class="input-box">
      <input type="text" matInput 
        ngx-google-places-autocomplete
        #dropoff="ngx-places"
        (onAddressChange)="formatDeliveryAddress($event)"
        formControlName="deliveryAddress"  required 
      >
    </mat-form-field>
  </form>
  <button class="btn" (click)="updateLocation">Submit</button>

</div>