<div class="wrapper">
  <h4>Delivery Details</h4>   
  <div class="route-info" *ngSwitchCase="1">
    <h2>Enter Pickup and Delivery Locations</h2>  
            
    <input type="text"  
      ngx-google-places-autocomplete
      #pickup
      (onAddressChange)="formatPickupAddress($event)"
      placeholder="Enter pickup" formControlName="pickupAddress"  required 
    >
  
    <br/>         
  
    <input type="text" 
      ngx-google-places-autocomplete
      #dropoff
      (onAddressChange)="formatDeliveryAddress($event)"
      placeholder="Enter delivery address here" formControlName="deliveryAddress"  required 
    >      
    
  </div>
  
  <button class="route-btn" >Submit</button>

</div>